body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #38bdf8;
    font-size: 50px;
}

h2 {
    color: #cbd5e1;
}

p {
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #1e293b;
    margin: 10px auto;
    padding: 12px;
    width: 300px;
    border-radius: 10px;
}

button {
    background-color: #38bdf8;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;

}